<h2 mat-dialog-title>Search and Filter</h2>
<mat-dialog-content>
    <form [formGroup]="filterForm">
        <label style="display:inline;">Test Case ID</label>
        <input type="text" class="form-control" formControlName="TCID" matInput>
        <br>
        <!-- <label>Plan Date From</label>
        <input type="date" class="form-control" formControlName="TEPdatefrom" matInput >
        < <ejs-datepicker id="fisrtdatepicker" #ejDatePicker [(value)]='value' width="230px"></ejs-datepicker> -->
        <!-- <br>
        <label>Plan Date To</label>
        <input type="date"class="form-control"  formControlName="TEPdateto" matInput>
        <label>Actual Date From</label>
        <input type="date" class="form-control" formControlName="TEAdatefrom" matInput>
        <br>
        <label>Actual Date To</label>
        <input type="text" class="form-control" formControlName="TEAdateto" matInput>
        <br> -->
        <!-- <label>Assign To</label>
        <input type="text" class="form-control"formControlName="TEAssignto" matInput>
        <br>
        <label>Status</label>
        <input type="text"  class="form-control"formControlName="statusCycle1" matInput>
        <br> -->
        <!-- <label>Test Execution(%)</label>
        <input type="text" class="form-control"formControlName="percentCycle1" matInput> -->
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="prepareData()" class="btn btn-primary" style="margin: 5px;" cdkFocusInitial>Search</button>
    <button mat-button [mat-dialog-close]="cancel()" class="btn btn-default" style="margin: 5px;">Cancel</button>
</mat-dialog-actions>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->